{{define "title"}}HTMX | Modification d'un film{{end}}

{{template "header"}}
<div class="container m-auto">
  <a class="underline text-base" href="/" hx-boost="true">Retour à l'index</a>

  <div class="p-8 my-4 bg-white border">
    <h1 class="px-6 py-4 text-3xl font-bold text-gray-900">Modifier un film</h1>

    <form class="px-6 py-4" hx-post="/api/film" hx-boost="true">
      <input type="hidden" name="id" value="{{ .Film.ID }}">
      <div class="mb-3">
        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Titre</label>

        <div class="relative mt-2 rounded-md shadow-sm">
          <input type="text" name="title"
            class="block w-full rounded-md border-0 py-2 pl-4 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            value="{{ .Film.Title }}">
        </div>
      </div>

      <div class="mb-3">
        <label for="director" class="block text-sm font-medium leading-6 text-gray-900">Directeur</label>

        <div class="relative mt-2 rounded-md shadow-sm">
          <input type="text" name="director"
            class="block w-full rounded-md border-0 py-2 pl-4 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
            value="{{ .Film.Director }}">
        </div>
      </div>

      <div class="mb-3">
        <label for="genre" class="block text-sm font-medium leading-6 text-gray-900">Genre</label>

        <div class="relative mt-2 rounded-md shadow-sm">
          <select id="genre-list" name="genre"
            class="block w-full rounded-md border-0 py-2 pl-4 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            {{ range .Genres }}
            <option id="{{ .ID }}" value="{{ .ID }}" {{if eq .ID $.Film.GenreId}}selected{{end}}>{{ .Description }}
            </option>
            {{ end }}
          </select>
        </div>
      </div>

      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Sauvegarder</button>
    </form>
  </div>

</div>
{{template "footer"}}